<h1>Complet your cook order</h1>
<p class="text-justify"><%=@offer.title %></p>
<p class="text-justify"><%=@offer.user.name %></p>
<div class="form-group">
<%=simple_form_for [@offer, @booking] do |f| %>
  <%= f.input :date %>
  <%= f.submit "validate", class:"btn btn-light"  %>
<% end %>
</div>