<div class = "text-center my-3">
    <h1>Complet your cook order</h1>


    <div class ="d-flex flex-row justify-content-center  m-3">
      <div class = "flex-fill d-flex flex-column">
        <div class="border-light rounded bg-ligt text-white p-3 m-3"> 
          <p class="text-justify text-center ">Do you want to enjoy <strong><%=@offer.title %></strong></p>
          <p class="text-justify text-center ">from our chef : <strong><%=@offer.user.name %></strong>?</p>
          <p class="text-justify text-center ">You will pay <strong><%=@offer.price %>€</strong></p>
          <p class="text-justify text-center "><strong>Descritption:</strong> <%=@offer.description %></p>
        </div> 
        <div class="form-group border-white rounded bg-ligt text-white p-3 m-3">
        <p class="text-justify text-center">Please selecte the  </p>
          <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
             <%=simple_form_for [@offer, @booking] do |f| %>
                 <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
                
                   <%=f.button :submit, "Create a booking", class: "btn btn-flat mr-3" %>
            
                 <%=link_to "Back to offers", offers_path, class: "btn btn-flat ml-3" %>
                <% end %>


        </div>
      </div>
    </div>
  
</div>




        
