<div class = "text-center my-3">
    <h1 class="text-justify text-center">Your Booking Confirmation</h1>

    <div class = "container border-white rounded bg-transparent text-white py-3 my-3">
     <% if @booking.accepted == true %>
      <i class="fas fa-check"></i>
        <p class="text-justify text-center">Congratulation your cook has accepted your demand!</p>
        <p class="text-justify text-center">We hope you appreciated this gastronomic moment at your home!</p>
        <p class="text-justify text-center">Please give us a review of your gastronomic experience: <strong><%=@booking.offer.title%></strong></p>
        <div class="form-group text-center">
          <%= link_to 'Back', offers_path, class: "btn btn-flat" %>
          <%=simple_form_for [@booking, @review] do |f| %>
            <div class="form-group">
            <%= f.input :comment %>
            <%= f.input :rating, collection: (0..5) %>
            <%= f.submit %>
            <% end %>
        </div>
      <%else %>
        <h2 class="text-justify text-center">Please give some time to your cook to accepte your demand...</h2>
        <img  class= "py-3 my-3",  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTF-D5s8uBjb-j9awWBlpBYd06kZ1rL7RHZfSsVQPp1xw6Mqdtb&usqp=CAU" alt="refresh">
      <% end %>
    </div>
</div>
