<div class="container">
  <%= simple_form_for @offer do |f| %>
    <%= f.input :title , label: 'Title for the Offer' %>
    <%= f.input :description, hint: 'Minimum 6 characters' %>
    <%= f.input :price %>
    <%= f.association :category %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-flat" %>
  <% end %>
  <a href="/offers" class="btn btn-ghost">Back</a>
</div>
