<div class="main-container">

  <div class="container-recap col-lg-4" style="background-color: #c0c0c0">
    <div class="offer-title" style="font-size: 50px"><%= @offer.title %></div>
    <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
    <div class="offer-desc" style="font-size: 20px"><%= @offer.description %></div>
  </div>

  <div class="container-desc col-sm-4" style="background-color: #c0c0c0">
    <%= cl_image_tag @offer.photo.key, height: 300, width: 450, crop: :fill, class: "card-image mt-2" %>
    <div class="card-rating"><% @offer.bookings.each do |booking| %>
        <%= booking.review.rating %>
        <% end %>
    </div>
    <div class="card-price" style="font-size: 50px"><%= @offer.price %>€</div>
  </div>


</div>
<div class="btn-show">
    <a href="/offers" class="btn btn-flat">Back</a>
    <%= link_to 'Create a Booking', new_offer_booking_path(@offer), class: "btn btn-flat" %>
</div>


  <div class="container">
    <span id="rateMe4"  class="feedback"></span>
  </div>

  <!-- rating.js file -->
  <script src="js/addons/rating.js"></script>

<!-- <div class="container" text-align: center>
<h1><strong>Coming soon</strong></h1>
</div>

<div class="container">
      <ul>
        <li><%= @offer.title%></li>
        <li> <%= @offer.description %></li>
        <li><%= @offer.price %>€</li>
      </ul>
</div> -->
